:root {
    --bg-color: white;
    --text-color: black;
    --link-color: grey;
    --bg-image: none;
    --nav-bg-color: #222;
    --nav-text-color: white;
    --nav-link-color: grey;
    --nav-bg-image: none;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: var(--bg-image);
    background-size: cover;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main {
    margin: 2em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    background-image: var(--nav-bg-image);
    background-size: cover;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.navbar a:hover {
    color: var(--nav-link-color);
}

.theme-toggle button {
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    margin: -5px -5px;
}


@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-left, .navbar .nav-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin: 0.5rem 0;
    }
}
